{% extends "::base.html.twig" %}
{% block body %}
    <button id="register">register</button>
    <button id="token">token</button>
    <button id="createTodo">createTodo</button>
    <button id="getTodo">getTodo</button>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/layout/js/jquery.min.js') }}"></script>
    <script>
        createGetTodo('getTodo');
        function createGetTodo(id) {
            $('#' + id).click(function () {
                getTodo(function (callback) {
                    $('#' + id).after('</br>' + callback);
                });
            });
        }

        createRegister('register');
        function createRegister(id) {
            $('#' + id).click(function () {
                register(function (callback) {
                    $('#' + id).after('</br>' + callback);
                });
            });
        }

        createToken('token');
        function createToken(id) {
            $('#' + id).click(function () {
                puttoken(function (callback) {
                    $('#' + id).after('</br>' + callback);
                });
            });
        }
        createTodo('createTodo');

        function createTodo(id) {
            $('#' + id).click(function () {
                todoCreate(function (callback) {
                    $('#' + id).after('</br>' + callback);
                });
            });
        }

        function getTodo(callback){
            $.ajax({
                url: 'http://localhost/justdoit/web/app_dev.php/api/todos',
                headers: {
                    "token": "token jooo"
                },
                method: 'GET',
                success: function (data) {
                    callback(data);
                },
                error: function (xhr) {
                    callback(xhr.responseText);
                }
            });
        }

        function todoCreate(callback) {
            $.ajax({
                url: 'http://localhost/justdoit/web/app_dev.php/api/todos',
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "Authorization": "Basic jooo"
                },
                data: {
                    "title": "wordpress leren",
                    "priority": 3,
                    "token": "/voz2r0OV+IXmCT8QLl6Yv6wBIFwEB2cAuS8t5ks+q/5Ho4MIUW8yN7HIw56a81AqT2X8OWOFgViCmlbAQ75Zw=="
                },
                method: 'POST',
                success: function (data) {
                    callback(data);
                },
                error: function (xhr) {
                    callback(xhr.responseText);
                }
            });
        }


        function register(callback) {
            $.ajax({
                url: 'http://localhost/justdoit/web/app_dev.php/api/user/register',
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                data: {
                    "email": "vinnsise@weszp.nsl",
                    "plainPassword": "password",
                    "username": "vinessss"
                },
                method: 'POST',
                success: function (data) {
                    callback(data);
                },
                error: function (xhr) {
                    callback(xhr.responseText);
                }
            });
        }

        function puttoken(callback) {
            $.ajax({
                url: 'http://localhost/justdoit/web/app_dev.php/api/users/tokens',
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                data: {
                    "email": "vinnsise@weszp.nsl",
                    "plainPassword": "password"
                },
                method: 'POST',
                success: function (data) {
                    callback(data);
                },
                error: function (xhr) {
                    callback(xhr.responseText);
                }
            });
        }


    </script>
{% endblock %}